{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + Svelte</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <script type="module" crossorigin src="{% static 'assets/index-4711f167.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/index-40f8405f.css' %}">
  </head>
  <body>
    <div id="app"></div>

  </body>
</html>
